:root {
  --board-size: calc(40vw);
  --cell-size: calc(var(--board-size / 3));
  --mark-size: 110px;
}

body{
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
	color: #3c8453;
}

a:hover {
	color: #bcaa96;
	text-decoration: none;
}
 main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
/*GAMEBOARD
------------------------------*/
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: var(--board-size);
  height: var(--board-size);
  gap: 16px;
  background-color: #555;
}

.cell {
  border: none;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.x-cell::before,
.x-cell::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  background-color: black;
}

.x-cell::before {
  transform: rotate(45deg);
}

.x-cell::after {
  transform: rotate(-45deg);
}

.o-cell::before,
.o-cell::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.o-cell::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
}

.o-cell::after {
  width: calc(var(--mark-size) * .75);
  height: calc(var(--mark-size) * .75);;
  background-color: white;
}

.o-cell:disabled::after {
  background-color: #FF5143;
}

.cell:hover {
  opacity: .8;
}

.cell:disabled {
  opacity: .6;
  background-color: #FF5143;
}

/*FOOTER
------------------------------*/
footer a {
	color: #bcaa96;
}

footer a:hover {
	color: #3c8453;
}

footer {
	background: #222;
	color: #d3d4d6;
	padding: 0 20px;
}

.socials {
	list-style-type: none;
	padding: 0;
}

.socials li {
	align-self: center;
	display: inline-block;
	margin-left: 10px;
	padding-top: 6px;
}

.socials img {
	width: 32px;
}

.socials img:hover {
	opacity: 0.5;
}

@media screen and (min-width:560px) {
	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (max-width:559px) {
	footer {
		text-align: center;
		padding: 10px;
	}
}